DATABASE_URL="postgresql://username:password@localhost:5432/mydb?schema=public"
DB_HOST=localhost # localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=1234
DB_NAME=postgres
JWT_SECRET=paste-the-generated-string-here

# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"